input {
  width: 500px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px;
  display: inline-block;
  background-color:#f2f2f2;
}

select {
  width: 540px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px;
  display: inline-block;
  background-color:#f2f2f2;
}

#description{
  height:200px;
}

label,h1{
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-weight:bold;
}

h1{
  padding-left:10px;
}

.form-group{
  padding: 10px;
}

button{
  height: 40px;
  width: 150px;
  border:none;
  border-radius:5px;
  color: white;
  background-color: blue;
}
